@model EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Update Employee Informations.</h1>

<hr />

<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="EmpPartialViews/EmpCUPartialView"/>
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Employees" asp-action="index" class="btn btn-light">Back To List</a>
</form>

@section validationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

