
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="agileits-top">
    <div>
        <p>Please Check your Inbox We have Sent you a reset url.</p>
    </div>
    <div>
        <p><a href="https://gmail.com/" target="_blank"><i class="fab fa-google"></i> Check your Gmail? </a></p>
    </div>
    
</div>